/* ------ Block_02 ------ */
.block_02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1810px;
    width: 375px;
}

.block_02 img {
    background-size: contain;
    height: 195px;
    width: 245px;
    padding: 55px 45px;
}

.block_02 p {
    font-size: 15px;
    padding: 20px 40px 0;
    text-align: center;
    line-height: 18px;
}

.grow,
.flowing,
.your {
    background-color: white;
    width: 335px;
    height: 487px;
    border-radius: 25px;
    margin-top: 40px;
    box-shadow: 1px 3px 10px var(--grayish-blue);
}

h2,
h3,
h4 {
    color: var(--very-dark-cyan);
    font-family: var(--font-Poppins);
    font-weight: var(--font-semi-bold);
    text-align: center;
    font-size: 20px;
}