@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

:root {
    /* ------ Color Primary ------ */
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    /* ------ Color Neutral ------ */
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

    /* -------- Attribution -------- */
    --attribution: hsl(228, 45%, 44%);

    /* ------ Font ------ */
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-Poppins: 'Poppins', sans-serif;
    --font-Open-Sans: 'Open Sans', sans-serif;
    --font-size: 16px;
    --font-style: normal;
}

/* ------ Main ------ */
body {
    font-family: var(--font-Open-Sans);
    font-size: var(--font-size);
    font-weight: var(--font-regular);
    font-style: var(--font-style);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
}

/* ------ button ------ */
button {
    background-color: var(--pink);
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: none;
    color: white;
    font-family: var(--font-Open-Sans);
    font-weight: var(--font-bold);
    box-shadow: 1px 3px 10px var(--grayish-blue);
}

button:hover {
    cursor: pointer;
    background-color: var(--light-pink);
}

.build button {
    margin-top: 50px;
}

.ready button {
    margin-top: 38px;
}

.subscribe button {
    height: 50px;
    width: 160px;
    border-radius: 5px;
    margin-left: 165px;
}